 <h2>Add a new Job Opportunity</h2>
<div class='form-group'>
	<label>Company Name</label>
	<input type='text' ng-model='newJob.job.company' class='form-control' placeholder='Company Name'>
</div>
<div class='form-group'>
	<label>Company Website - DO NOT INCLUDE 'http://www.'</label>
	<input type='text' ng-model='newJob.job.company_link' class='form-control' placeholder='companyname.com'>
</div>
<div class='form-group'>
	<label>Position Applying For</label>
	<input type='text' ng-model='newJob.job.position' class='form-control' placeholder="Ex: Junior Software Engineer">
</div>
<div class='form-group'>
	<label>Job Posting - DO NOT INCLUDE 'http://www.'</label>
	<input type='text' ng-model='newJob.job.position_link' class='form-control' placeholder='companyname.com/en/job-detail?'>
</div>
<div class='form-group'>
	<label>Date Application Sent</label>
	<input type='date' ng-model='newJob.job.app_date' class='form-control'>
</div>
<div class='form-group'>
	<label>Primary Contact</label>
	<input type='text' ng-model='newJob.job.primary' class='form-control' placeholder='Ex: John Doe'>
</div>
<div class='form-group'>
	<label>Planned Followup</label>
	<textarea ng-model='newJob.job.nas' class='form-control' placeholder='Ex: Call Stacy in HR to verify she received my resume.'></textarea>
</div>
<div class='form-group'>
	<label>Date of Planned Followup</label>
	<input type='date' ng-model='newJob.job.nas_date' class='form-control'>
</div>
<div class='form-group'>
	<button class='btn btn-primary btn-lg' ng-click='createJob()'>Add Opportunity</button>
</div>
