/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require 'bootstrap-sass-official'
*/
/*@import "bootstrap-sprockets";
@import "bootstrap";*/
*{
  margin: 0 auto;
  padding: 0 auto;
}

.background-full-screen{
  background: url(nightblue.jpg) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  h1 {
    font-size: 4.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }
  form{
    width: 300px;
    input{
      text-align: center;
    }
  }
}

.home-jumbo{
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}

footer {
	text-align: center;
}

.light-text {
	color: white
}