<head>
	<%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track' => true %>
</head>	

<nav class='navbar'>
	<div class='navbar-header'>
		<button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar'>
		</button>
		<a class='navbar-brand' href='#' style='color: #062E43;'>RSG Tracker</a>
	</div>
	<div id='navbar' class='navbar-collapse collapse' aria-expanded='false' style='height: 1px;'>
		<ul class='nav navbar-nav navbar-right'>
			<% if current_user.present? %>
				<li><button class="btn-default btn-lg"><%= link_to "Log Out", destroy_user_session_path, style: 'color:#062E43;', method: :delete %></button></li>
			<% end %>
		</ul>
	</div>
</nav>