<head>
	<%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track' => true %>
	<link href="https://fonts.googleapis.com/css?family=Cabin|Roboto|Raleway:400,400i,600,600i,700,700i" rel="stylesheet">
</head>	
<nav class='navbar'>
	<div class='navbar-header'>
		<button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar'>
		</button>
		<a class='navbar-brand' href='#' style='color: #062E43;'>Job Tracker</a>
	</div>
	<div id='navbar' class='navbar-collapse collapse' aria-expanded='false' style='height: 1px;'>
		<ul class='nav navbar-right'>
			<% if current_user.present? %>
				<li><a class=""><%= link_to "Log Out", destroy_user_session_path, method: :delete %></a></li>
			<% end %>
		</ul>
	</div>
</nav>